
@font-face {
    font-family:"ITCAvantGardeStd-DemiCn";
    src:url("ITCAvantGardeStd-DemiCn.woff2") format("woff2"),url("ITCAvantGardeStd-DemiCn.woff") format("woff"),url("ITCAvantGardeStd-DemiCn.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        