
@font-face {
    font-family:"Museo-700";
    src:url("Museo700-Regular.woff2") format("woff2"),url("Museo700-Regular.woff") format("woff"),url("Museo700-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        